<li id="message_<%= message.id%>">
  <% user = message.user %>
  <%= link_to "Show Message", message_path(message) %>
  <div>
    <%= message.body %>
  </div>
  <span>sent <%= time_ago_in_words message.created_at %> ago</span>
</li>