<% if not logged_in? %>
  <p>
    You should <%= link_to "Sign up", signup_path %> or <%= link_to "Login", login_path %>
  </p>
  
<% else %>
  <h2>Post Stuff</h2> 
  <%= render :partial => 'messages/form' %>

<% end %>


<ul id="stream">
  <%= render :partial => @messages %>
</ul>

<%# periodically_call_remote(:url => root_url, :frequency => '20', :update => 'stream') %>